.order-text {
    font-size: 10px;
  }
.card {
  background-color: #ffffff;
  width: 310px; 
  border-radius: 5px;
  margin-bottom: 10%;
  box-shadow: 0 0 10px #3c3a3a;
}
.header-img {
  width: 50%;
  height: 70%;
  margin-top: 10px; 
  /* margin-left: 5%; 
  margin-right: 5%;  */
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 20% 20% / 50% 20%;
  /* border-radius: 5%;  */
}
.submit-btn {
  color: white; 
  background-color: #f53100; 
  border: none; 
  height: 60px; 
  font-size: medium; 
  border-radius: 10px 10px 10px 10px; 
  width: 200px; 
  margin-left: 20px;
}