{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-color: #FFEBED;">
    <!-- <div style="background-color: #F5AB00; color: #ffffff; height: 150px; margin-bottom: 20px;">
      <h7>**логотип</h7>
      <h1 style="text-align: center; font-weight: 900;">Заявки для поваров в быстром питании</h1>
      <h4 style="text-align: center;">крутой слоган</h4>
    </div> -->
  {% block content %}{% endblock %}  
</body>


</html>