{% load static %}
<a href="{% url 'dish_url' element.id %}" style="text-decoration: none; color: black;">
    <div class="card">
        <p style="text-align: center;">
            <img class="dish-element-img" src = "{% static element.url %}">
        </p>

        <div class="dish_element-div">
            <div style=" display: flex; justify-content: space-between; align-items: start; width: 100%; height: 100%; margin: 0">
                    <p class="dish_element-title"> <big><big>{{element.title}}</big></big></p> 
                    <h5 class="dish_element-tegs">{{element.tags}}</h5>
            </div>
            <h4 class="dish_element-price">{{element.price}}$</h4>
            <h4 class="dish_element-chef">{{element.chef_post}}</h4>  
        </div>


    </div>
</a>