{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Заказ №{{ data.id }}</title>
</head>

<body class="dish-body">
    <div class="dish-div">
        <h7>**логотип</h7>
        <h1 class="header-title"><big>ЗАЯВКИ ДЛЯ ПОВАРОВ В БЫСТРОМ ПИТАНИИ</big></h1>
    </div>
    <div style="background-color: white; height: 100%; width: 70%; margin-left: 15%; display: flex; flex-wrap: wrap; justify-content: space-around; position: absolute;">
        <div style="width: 40%;">
            <!-- <button id ="back-btn" class="back-btn">< back</button> -->
            <p style="text-align: left; border-radius: 10px;">
                <div class="dish-title">{{ data.dish.title}}</div>
                <img class="dish-img" src = "{% static data.dish.url %}">
                <div class="dish-chef-div">
                    <img class="dish-chef-img" src="{% static data.dish.chef_url %}">
                    <div>
                        <p class="dish-chef-p">{{data.dish.chef_name}},</p> <br><br>
                        <p class="dish-chef-p">{{data.dish.chef_post}}</p>
                    </div>
                
                </div>        
            </p>
        </div>
        <div style="width: 23%; margin-top: 3%;">
            <div style="display: flex; justify-content: space-between; position: relative;">
                <span class="dish-text"> ВЕС, Г</span> 
                <span class="dish-digit">{{data.dish.weight}}</span>
            </div>
            <div class="line"></div> 
            <div style="display: flex; justify-content: space-between;">
                <span class="dish-text"> ЦЕНА, $ </span> 
                <span class="dish-digit">{{data.dish.price}}</span>
            </div>
            <div class="line"></div> 
            <div style="display: flex; justify-content: space-between;">
                <span class="dish-text">ЭНЕРГЕТИЧЕСКАЯ ЦЕННОСТЬ, ККАЛ/100 Г </span> 
                <span class="dish-digit">{{data.dish.energy_value}}</span>
            </div>
            <div class="line"></div> 
            <span class="dish-text">СРОК ГОДНОСТИ</span>
            <div class="gray-line"></div>
            <span class="dish-text">{{data.dish.expiry_date}}</span>        

        </div>
        <div style="width: 23%; margin-top: 3%;">
            <span class="dish-text"> СОСТАВ</span>
            <div class="line"></div>
            <span class="dish-text">{{data.dish.content}}</span>  
        </div>
    </div>
</body>
</html>