<a href="{% url 'order_url' element.id %}" style="text-decoration: none; color: black;">
    <div class="card">
        <p style="text-align: center;">
            <img class="card-img" src = '{{ element.url }}' width="80%" height="313" style="margin-top: 5%;">
        </p>

        <div class="order_element-div">
            <div style=" display: flex; justify-content: space-between; align-items: start; width: 100%; height: 100%; margin: 0">
                    <p class="order_element-title"> <big><big>{{ element.title }}</big></big></p> 
                    <h5 class="order_element-tegs">{{element.tegs}}</h5>
            </div>
            <h4 class="order_element-price">{{ element.price }}$</h4>
            <h4 class="order_element-chef">by {{element.chef}}</h4>  
        </div>


    </div>
</a>