{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}

    <div>
      <img src="https://w.forfun.com/fetch/f4/f4a884f56fe6e9f700a7173c504d0f9d.jpeg" width="90%" height="300" style="margin-bottom: 30px; border-radius: 5%; margin-left: 5%; margin-right: 5%;">
    </div>

    <form action="sendText" method="post" enctype="multipart/form-data" style="margin-left: 5%; margin-bottom: 3%;">
        {% csrf_token %}
        <input name="text" type="text"><br><br>
        <input type="submit" value="Submit" >
    </form>

    <div style="display: flex; flex-wrap: wrap;">
        {% for order in data.orders %}
            <div style="margin-right: 0%; margin-left: 5%; width: 18%;">
                {% include 'order_element.html' with element=order %}
            </div>
        {% empty %}
            Список пуст
        {% endfor %}
    </div>



{% endblock %}