{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Заказ №{{ data.id }}</title>
</head>

<body style="background-color: #FBAF00; height: 100vh; position: relative;">
<div style="position: relative; background-color: #FBAF00; color: #ffffff; height: 130px; margin-bottom: 1%;">
    <h7>**логотип</h7>
    <h1 class="header-title">ЗАЯВКИ ДЛЯ ПОВАРОВ В БЫСТРОМ ПИТАНИИ</h1>
</div>
<div style="background-color: white; height: 100%; width: 70%; margin-left: 15%; display: flex; flex-wrap: wrap; justify-content: space-around; position: absolute;">
    <div style="width: 40%;">
        <!-- <button id ="back-btn" class="back-btn">< back</button> -->
        <p style="text-align: left; border-radius: 10px;">
            <div class="order-title">{{ data.dish.title}}</div>
            <img class="order-img" src = "{% static data.dish.url %}">
            <div class="order-chef-div">
                <img class="order-chef-img" src="{% static data.dish.chef_url %}">
                <div>
                     <p class="order-chef-p">{{data.dish.chef}},</p> <br><br>
                     <p class="order-chef-p">{{data.dish.chef_post}}</p>
                </div>
               
            </div>        
        </p>
    </div>
    <div style="width: 23%; margin-top: 3%;">
        <div style="display: flex; justify-content: space-between; position: relative;">
            <span class="order-text"> ВЕС, Г</span> 
            <span class="order-digit">{{data.dish.weight}}</span>
        </div>
        <div class="line"></div> 
        <div style="display: flex; justify-content: space-between;">
            <span class="order-text"> ЦЕНА, $ </span> 
            <span class="order-digit">{{data.dish.price}}</span>
        </div>
        <div class="line"></div> 
        <div style="display: flex; justify-content: space-between;">
            <span class="order-text">ЭНЕРГЕТИЧЕСКАЯ ЦЕННОСТЬ, ККАЛ/100 Г </span> 
            <span class="order-digit">{{data.dish.energy_value}}</span>
        </div>
        <div class="line"></div> 
        <span class="order-text">СРОК ГОДНОСТИ</span>
        <div class="gray-line"></div>
        <span class="order-text">{{data.dish.expiry_date}}</span>        

    </div>
    <div style="width: 23%; margin-top: 3%;">
        <span class="order-text"> СОСТАВ</span>
        <div class="line"></div>
        <span class="order-text">{{data.dish.content}}</span>  
    </div>
</div>
</body>
</html>