{% extends 'base.html' %}

{% block title %}Заказ №{{ data.id }}{% endblock %}

{% block content %}
<div style="background-color: #007CBE; height: 100%; width: 80%; margin-left: 10%; display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="margin-left: 0%; width: 50%;">
        <button id ="back-btn" class="back-btn">< back</button>
        <p style="text-align: left; border-radius: 10px;">
            <img class="order-img" src = '{{ data.order.url }}'>
            <div class="order-title">{{ data.order.title}}</div>
            <div class="order-chef">by {{data.order.chef}}</div>        
        </p>
    </div>
    <div style="width: 50%; margin-top: 3%;">
        <p class="order-text"> ddd</p>
    </div>

</div>
{% endblock %}