<a href="{% url 'order_url' element.id %}" style="text-decoration: none; color: black;">
    <div class="card">
        <p style="text-align: center;">
            <img class="card-img" src = '{{ element.url }}' width="80%" height="313" style="margin-top: 5%;">
        </p>
        <div style="background-color: #FBAF00; border-radius: 0 0 5px 5px; height: auto">
            <h3 style="font-weight: normal; text-align: center" class="card-title">{{ element.title }}</h3> 
            <div style="margin-left: 0%;">chef: {{element.chef}}</div> 
        </div>

    </div>
</a>