.order-text {
    font-size: 50px;
  }
.card-container {
    display: flex;
    flex-wrap: nowrap; /* если вы хотите, чтобы карточки не переносились на новую строку */
    gap: 10px; /* расстояние между карточками */
}